:root {
  --main-font: "Montserrat", sans-serif;
  --second-font: "Kaushan Script", sans-serif;
  --p-font: "Roboto", sans-serif;
  --main-color: #95e1d3;
  --second-color: #f38181;
  --title-color: rgb(51, 51, 51);
  --text-color: rgb(153, 153, 153);
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}
ul,ol {list-style: none;}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/* HEADER */
.header {
  min-height: 90px;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo {
  font-size: 30px;
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: bold;
  
  animation-name: logo-appear;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.navigation-menu {
  display: flex;
}
.nav-menu-item:not(:last-of-type) {
  margin-right: 56px;
}
.nav-menu-item-link {
  font-size: 14px;
  font-family: var(--main-font);
  color: var(--main-color);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  transition: color .2s linear;
}
.nav-menu-item-link:focus,
.nav-menu-item-link:hover {
  color: var(--second-color);
}
/* 2-nd method of hovering */
/* .nav-menu-item-link::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--second-color);
  width: 0%;
  height: 4px;
}
.nav-menu-item-link:hover::after,
.nav-menu-item-link:focus::after {
  width: 100%;
} */

/* 3-rd method of hovering */
.nav-menu-item-link::after {
  content:'';
  display: block;
  width: 0%;
  height: 4px;
  background-color: var(--second-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: width .2s linear;
}
.nav-menu-item-link:focus::after,
.nav-menu-item-link:hover::after {
  width: 100%;
}

/* MAIN */
.section {
  padding: 90px 0;
}
.title-box {
  color: var(--title-color);
  text-align: center;
  margin-bottom: 66px;
}
.italic {
  display: block;
  font-size: 24px;
  font-family: var(--second-font);
  margin-bottom: 22px;
}
.section-title {
  display: block;
  font-size: 30px;
  font-family: var(--main-font);
  font-weight: bold;
  text-transform: uppercase;
}
.section-title::after {
  content:'';
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  width: 60px;
  height: 4px;
  background-color: var(--second-color);
}

.service-list{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service-list-item {
  flex: 0 0 380px;
  padding: 10px 10px 10px 80px;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  margin-bottom: 80px;
}
.alarm {
  background-image: url(../img/alarm.png);
}
.graph {
  background-image: url(../img/line-graph.png);
}
.comp {
  background-image: url(../img/computer.png);
}
.book {
  background-image: url(../img/book.png);
}
.home {
  background-image: url(../img/home.png);
}
.image {
  background-image: url(../img/image.png);
}
.service-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: var(--main-font);
  color: var(--title-color);
  text-transform: uppercase;
}
.service-text {
  font-size: 15px;
  font-family: var(--p-font);
  color: var(--text-color);
  line-height: 1.6;
}
/* TEAM */
.team-text {
  display: block;
  margin: 0 auto;
  width: 960px;
  height: 130px;
  font-size: 15px;
  font-family: var(--p-font);
  color: var(--text-color);
  line-height: 1.6;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-member {
  position: relative;
}
.overlay {
  background-image: linear-gradient( 90deg, rgba(252,227,138,.8) 0%, rgba(243,129,129,.8) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px var(--main-color);
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member-photo, .overlay {
transition: all .2s linear;
}
.team-member-card:hover .team-member-photo, 
.team-member-card:hover .overlay {
  opacity: 1;
  transform: translate(-10px, -10px);
}
.button {
  background-color: rgb(252, 227, 138);
  width: 56px;
  height: 56px;
  border-right: 1px solid var(--second-color);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color .2s linear;
}
.button:hover {
  background-color: var(--main-color);
}
.facebook {
  background-image: url(../img/facebook.png);
}
.twitter {
  background-image: url(../img/twitter.png);
}
.pinterest {
  background-image: url(../img/pinterest.png);
}
.instagram {  
  background-image: url(../img/instagram.png);
  border: none;}
.name {
  font-size: 14px;
  font-family: var(--main-text);
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 10px;
  font-weight: normal;
}
.job {
  font-size: 15px;
  font-family: var(--p-font);
  color: var(--text-color);
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/* FOOTER */
.footer {
  font-size: 14px;
  font-family: var(--main-font);
  color: var(--title-color);
}
.footer-flexbox {
  display: flex;
  justify-content: space-between;
  min-height: 62px;
  align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
}
.footer-link {
  color: var(--second-color);
}
.contact-form{display: flex;}
.contact-form__button {
  font-size: 14px;
  font-family: var(--main-font);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-color: var(--main-color);
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.contact-form__input::placeholder {
  font-size: 15px;
  font-family: var(--p-font);
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
  border: none;
  width: 234px;
  height: 40px;
  padding-left: 10px;
}
.contact-form__input {
  outline: none;
}
